.hoverbox0:hover {
  background: #0287e6 !important;
  color: white !important;
}

.navstyle {
  padding: 10px 90px;
}
.boxstyle2 {
  width: 219px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxstyle01 {
  padding: 60px 0px;
}

@media (max-width: 900px) {
  .navstyle {
    padding: 10px 10px;
  }
  .boxstyle0 {
    height: 230px !important;
  }
  .boxstyle2 {
    width: 100%;
    height: 100px;
  }
  .text0 {
    font-size: 24px !important;
  }
  .policiestext1 {
    font-size: 26px !important;
  }
  .policiestext0 {
    font-size: 18px !important;
  }
  .policiestext2 {
    font-size: 19px !important;
  }
  .policiestext3 {
    font-size: 16px !important;
  }
  .gridstyle {
    padding-top: 20px !important;
  }
  .certificatebox {
    width: 93% !important;
  }
  .boxstyle01 {
    padding-bottom: 15px !important;
  }
}

.textanimate {
  animation: slide 1s forwards;
}

@keyframes slide {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(0);
  }
}

.background {
  background-size: cover;
  background-position: center;
}

.animate {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
